html {
    /* min-height: 100%; */
    background-image: url('images/1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

 }

html, body {
    margin: 10;
    padding: 10;
    font-family: 'Junge', serif;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h1 {
    background-color: rgba(133, 83, 83, 0.3);
}

button {
    align-self: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color:#8B4513;
}

.apple {
    background-color: rgb(64, 255, 93);
}

@media only screen and (max-width: 767px) {
    html {
       background-image: url(images/2.jpeg);
    }
  }
  